<a href="https://colab.research.google.com/github/utkarshjii/Machine-Learning-Projects/blob/master/Big_Mart_Sales(Analytics_Vidhya_DataHack).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## ***Importing Required Libraries and the Train and Test Datasets***

In [145]:
# We were ranked around 1800 out of 36000 people registered and 3800 on the leaderboard
# using ANN with an Adam optimizer

In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
from sklearn.metrics import mean_squared_error

In [11]:
train = pd.read_csv('/content/train.csv')
test = pd.read_csv('/content/test.csv')
sample_submission = pd.read_csv('/content/sample_submission.csv')

In [12]:
train

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0              FDA15        9.300  ...  Supermarket Type1          3735.1380
1              DRC01        5.920  ...  Supermarket Type2           443.4228
2              FDN15       17.500  ...  Supermarket Type1          2097.2700
3              FDX07       19.200  ...      Grocery Store           732.3800
4              NCD19        8.930  ...  Supermarket Type1           994.7052
...              ...          ...  ...                ...                ...
8518           FDF22        6.865  ...  Supermarket Type1          2778.3834
8519           FDS36        8.380  ...  Supermarket Type1           549.2850
8520           NCJ29       10.600  ...  Supermarket Type1          1193.1136
8521           FDN46        7.210  ...  Supermarket Type2          1845.5976
8522           DRG01       14.800  ...  Supermarket Type1           765.6700

[8523 rows x 12 columns]

In [13]:
test

     Item_Identifier  Item_Weight  ... Outlet_Location_Type        Outlet_Type
0              FDW58       20.750  ...               Tier 1  Supermarket Type1
1              FDW14        8.300  ...               Tier 2  Supermarket Type1
2              NCN55       14.600  ...               Tier 3      Grocery Store
3              FDQ58        7.315  ...               Tier 2  Supermarket Type1
4              FDY38          NaN  ...               Tier 3  Supermarket Type3
...              ...          ...  ...                  ...                ...
5676           FDB58       10.500  ...               Tier 1  Supermarket Type1
5677           FDD47        7.600  ...               Tier 3  Supermarket Type2
5678           NCO17       10.000  ...               Tier 2  Supermarket Type1
5679           FDJ26       15.300  ...               Tier 2  Supermarket Type1
5680           FDU37        9.500  ...               Tier 2  Supermarket Type1

[5681 rows x 11 columns]

In [14]:
data = pd.concat([train, test])

In [15]:
data

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0              FDA15         9.30  ...  Supermarket Type1          3735.1380
1              DRC01         5.92  ...  Supermarket Type2           443.4228
2              FDN15        17.50  ...  Supermarket Type1          2097.2700
3              FDX07        19.20  ...      Grocery Store           732.3800
4              NCD19         8.93  ...  Supermarket Type1           994.7052
...              ...          ...  ...                ...                ...
5676           FDB58        10.50  ...  Supermarket Type1                NaN
5677           FDD47         7.60  ...  Supermarket Type2                NaN
5678           NCO17        10.00  ...  Supermarket Type1                NaN
5679           FDJ26        15.30  ...  Supermarket Type1                NaN
5680           FDU37         9.50  ...  Supermarket Type1                NaN

[14204 rows x 12 columns]

# **Finding Correlations Between Features and Handling Null Values**

In [16]:
data['Outlet_Size'].value_counts()

Medium    4655
Small     3980
High      1553
Name: Outlet_Size, dtype: int64

In [17]:
data.reset_index(inplace = True)
data.drop(['index'], axis = 1, inplace = True)

In [18]:
data['Item_Weight'][7]

nan

In [19]:
train['Item_Identifier'].value_counts()

FDW13    10
FDG33    10
NCY18     9
FDX20     9
NCF42     9
         ..
DRF48     1
FDE52     1
FDO33     1
FDQ60     1
FDT35     1
Name: Item_Identifier, Length: 1559, dtype: int64

In [20]:
test['Item_Identifier'].value_counts()

DRF48    8
FDZ50    8
FDQ60    8
FDK57    8
FDN52    8
        ..
FDU12    1
FDR43    1
FDV60    1
FDT55    1
NCJ30    1
Name: Item_Identifier, Length: 1543, dtype: int64

In [21]:
data['Item_Identifier'].value_counts()

FDD16    10
FDI15    10
FDD38    10
FDR37    10
FDR46    10
         ..
NCL42     7
FDM52     7
FDL50     7
FDH58     7
FDI46     7
Name: Item_Identifier, Length: 1559, dtype: int64

In [22]:
data.corr()

                           Item_Weight  ...  Item_Outlet_Sales
Item_Weight                   1.000000  ...           0.014123
Item_Visibility              -0.015901  ...          -0.128625
Item_MRP                      0.036236  ...           0.567574
Outlet_Establishment_Year     0.000645  ...          -0.049135
Item_Outlet_Sales             0.014123  ...           1.000000

[5 rows x 5 columns]

In [23]:
data.isnull().sum()

Item_Identifier                 0
Item_Weight                  2439
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  4016
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales            5681
dtype: int64

In [24]:
#plt.bar(data['Item_Weight'], data['Item_MRP'], width=10)

In [25]:
data.describe()

        Item_Weight  ...  Item_Outlet_Sales
count  11765.000000  ...        8523.000000
mean      12.792854  ...        2181.288914
std        4.652502  ...        1706.499616
min        4.555000  ...          33.290000
25%        8.710000  ...         834.247400
50%       12.600000  ...        1794.331000
75%       16.750000  ...        3101.296400
max       21.350000  ...       13086.964800

[8 rows x 5 columns]

In [26]:
data.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [27]:
data['Item_Weight'] = data['Item_Weight'].astype(str)

In [28]:
data['Item_Weight'][7]

'nan'

In [29]:
s = np.where(data['Item_Weight'] == 'nan')[0]
len(s)

2439

In [30]:
for i in range(len(s)):
  if data['Item_MRP'][s[i]] < 94.012000:
    data['Item_Weight'][s[i]] = 6.000000
  elif (94.012000 < data['Item_MRP'][s[i]] < 142.247000):
    data['Item_Weight'][s[i]] = 10.000000
  elif (142.247000 < data['Item_MRP'][s[i]] < 185.855600):
    data['Item_Weight'][s[i]] = 14.000000
  elif (185.855600 < data['Item_MRP'][s[i]] < 266.888400):
    data['Item_Weight'][s[i]] = 18.500000

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [31]:
'''for i in range(len(s)):
  if data['Item_MRP'][s[i]] < 94.012000:
    data['Item_Weight'][s[i]] = 8.710000
  elif (94.012000 < data['Item_MRP'][s[i]] < 142.247000):
    data['Item_Weight'][s[i]] = 12.600000
  elif (142.247000 < data['Item_MRP'][s[i]] < 185.855600):
    data['Item_Weight'][s[i]] = 16.750000
  elif (185.855600 < data['Item_MRP'][s[i]] < 266.888400):
    data['Item_Weight'][s[i]] = 21.350000'''

"for i in range(len(s)):\n  if data['Item_MRP'][s[i]] < 94.012000:\n    data['Item_Weight'][s[i]] = 8.710000\n  elif (94.012000 < data['Item_MRP'][s[i]] < 142.247000):\n    data['Item_Weight'][s[i]] = 12.600000\n  elif (142.247000 < data['Item_MRP'][s[i]] < 185.855600):\n    data['Item_Weight'][s[i]] = 16.750000\n  elif (185.855600 < data['Item_MRP'][s[i]] < 266.888400):\n    data['Item_Weight'][s[i]] = 21.350000"

In [32]:
data.isnull().sum()

Item_Identifier                 0
Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  4016
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales            5681
dtype: int64

In [33]:
data['Item_Weight'] = data['Item_Weight'].astype(float)

In [34]:
data.corr()

                           Item_Weight  ...  Item_Outlet_Sales
Item_Weight                   1.000000  ...           0.106663
Item_Visibility              -0.017878  ...          -0.128625
Item_MRP                      0.192873  ...           0.567574
Outlet_Establishment_Year     0.038256  ...          -0.049135
Item_Outlet_Sales             0.106663  ...           1.000000

[5 rows x 5 columns]

In [35]:
#0.192152 MRP wrt weight
#0.124323 Sales wrt sales

In [36]:
data

      Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0               FDA15         9.30  ...  Supermarket Type1          3735.1380
1               DRC01         5.92  ...  Supermarket Type2           443.4228
2               FDN15        17.50  ...  Supermarket Type1          2097.2700
3               FDX07        19.20  ...      Grocery Store           732.3800
4               NCD19         8.93  ...  Supermarket Type1           994.7052
...               ...          ...  ...                ...                ...
14199           FDB58        10.50  ...  Supermarket Type1                NaN
14200           FDD47         7.60  ...  Supermarket Type2                NaN
14201           NCO17        10.00  ...  Supermarket Type1                NaN
14202           FDJ26        15.30  ...  Supermarket Type1                NaN
14203           FDU37         9.50  ...  Supermarket Type1                NaN

[14204 rows x 12 columns]

In [37]:
data['Outlet_Size'].unique()

array(['Medium', nan, 'High', 'Small'], dtype=object)

In [38]:
for i in range(len(data)):
  if data['Outlet_Size'][i] == 'Small':
    data['Outlet_Size'][i] = 0
  elif data['Outlet_Size'][i] == 'Medium':
    data['Outlet_Size'][i] = 1
  elif data['Outlet_Size'][i] == 'High':
    data['Outlet_Size'][i] = 2
  elif data['Outlet_Size'][i] == 'nan' or 'Nan' or 'NaN':
    data['Outlet_Size'][i] = np.random.choice([1, 0, 2], p = [0.45, 0.35, 0.20])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [39]:
data['Outlet_Size'].value_counts()

1    6445
0    5438
2    2321
Name: Outlet_Size, dtype: int64

In [40]:
data['Outlet_Size'][3]

2

In [41]:
data

      Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0               FDA15         9.30  ...  Supermarket Type1          3735.1380
1               DRC01         5.92  ...  Supermarket Type2           443.4228
2               FDN15        17.50  ...  Supermarket Type1          2097.2700
3               FDX07        19.20  ...      Grocery Store           732.3800
4               NCD19         8.93  ...  Supermarket Type1           994.7052
...               ...          ...  ...                ...                ...
14199           FDB58        10.50  ...  Supermarket Type1                NaN
14200           FDD47         7.60  ...  Supermarket Type2                NaN
14201           NCO17        10.00  ...  Supermarket Type1                NaN
14202           FDJ26        15.30  ...  Supermarket Type1                NaN
14203           FDU37         9.50  ...  Supermarket Type1                NaN

[14204 rows x 12 columns]

In [42]:
data['Outlet_Size'] = data['Outlet_Size'].astype('float')

In [43]:
data.corr()

                           Item_Weight  ...  Item_Outlet_Sales
Item_Weight                   1.000000  ...           0.106663
Item_Visibility              -0.017878  ...          -0.128625
Item_MRP                      0.192873  ...           0.567574
Outlet_Establishment_Year     0.038256  ...          -0.049135
Outlet_Size                   0.006350  ...           0.090014
Item_Outlet_Sales             0.106663  ...           1.000000

[6 rows x 6 columns]

### ***Label Encoding and Dummy Variables for Data Preprocessing***

In [44]:
data.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                  float64
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [45]:
data

      Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0               FDA15         9.30  ...  Supermarket Type1          3735.1380
1               DRC01         5.92  ...  Supermarket Type2           443.4228
2               FDN15        17.50  ...  Supermarket Type1          2097.2700
3               FDX07        19.20  ...      Grocery Store           732.3800
4               NCD19         8.93  ...  Supermarket Type1           994.7052
...               ...          ...  ...                ...                ...
14199           FDB58        10.50  ...  Supermarket Type1                NaN
14200           FDD47         7.60  ...  Supermarket Type2                NaN
14201           NCO17        10.00  ...  Supermarket Type1                NaN
14202           FDJ26        15.30  ...  Supermarket Type1                NaN
14203           FDU37         9.50  ...  Supermarket Type1                NaN

[14204 rows x 12 columns]

In [46]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [47]:
data['Item_Identifier'] = le.fit_transform(data['Item_Identifier'])

In [48]:
data['Item_Fat_Content'].unique()

array(['Low Fat', 'Regular', 'low fat', 'LF', 'reg'], dtype=object)

In [49]:
data['Item_Fat_Content'].replace('LF', 'Low Fat', inplace = True)
data['Item_Fat_Content'].replace('low fat', 'Low Fat', inplace = True)
data['Item_Fat_Content'].replace('reg', 'Regular', inplace = True)

In [50]:
data['Item_Fat_Content'].unique()

array(['Low Fat', 'Regular'], dtype=object)

In [51]:
data['Item_Fat_Content'].replace('Low Fat', 0, inplace = True)
data['Item_Fat_Content'].replace('Regular', 1, inplace = True)

In [52]:

data

       Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0                  156         9.30  ...  Supermarket Type1          3735.1380
1                    8         5.92  ...  Supermarket Type2           443.4228
2                  662        17.50  ...  Supermarket Type1          2097.2700
3                 1121        19.20  ...      Grocery Store           732.3800
4                 1297         8.93  ...  Supermarket Type1           994.7052
...                ...          ...  ...                ...                ...
14199              233        10.50  ...  Supermarket Type1                NaN
14200              308         7.60  ...  Supermarket Type2                NaN
14201             1426        10.00  ...  Supermarket Type1                NaN
14202              521        15.30  ...  Supermarket Type1                NaN
14203              997         9.50  ...  Supermarket Type1                NaN

[14204 rows x 12 columns]

In [53]:
data['Item_Type'].unique()

array(['Dairy', 'Soft Drinks', 'Meat', 'Fruits and Vegetables',
       'Household', 'Baking Goods', 'Snack Foods', 'Frozen Foods',
       'Breakfast', 'Health and Hygiene', 'Hard Drinks', 'Canned',
       'Breads', 'Starchy Foods', 'Others', 'Seafood'], dtype=object)

In [54]:
s = pd.get_dummies(data['Item_Type'])

In [55]:
s

       Baking Goods  Breads  Breakfast  ...  Snack Foods  Soft Drinks  Starchy Foods
0                 0       0          0  ...            0            0              0
1                 0       0          0  ...            0            1              0
2                 0       0          0  ...            0            0              0
3                 0       0          0  ...            0            0              0
4                 0       0          0  ...            0            0              0
...             ...     ...        ...  ...          ...          ...            ...
14199             0       0          0  ...            1            0              0
14200             0       0          0  ...            0            0              1
14201             0       0          0  ...            0            0              0
14202             0       0          0  ...            0            0              0
14203             0       0          0  ...            0            0              0

[14204 rows x 16 columns]

In [56]:
data = pd.concat([data, s], axis = 1)

In [57]:
data.drop(['Item_Type'], axis = 1, inplace = True)
data

       Item_Identifier  Item_Weight  ...  Soft Drinks  Starchy Foods
0                  156         9.30  ...            0              0
1                    8         5.92  ...            1              0
2                  662        17.50  ...            0              0
3                 1121        19.20  ...            0              0
4                 1297         8.93  ...            0              0
...                ...          ...  ...          ...            ...
14199              233        10.50  ...            0              0
14200              308         7.60  ...            0              1
14201             1426        10.00  ...            0              0
14202              521        15.30  ...            0              0
14203              997         9.50  ...            0              0

[14204 rows x 27 columns]

In [58]:
data['Outlet_Identifier'].unique()

array(['OUT049', 'OUT018', 'OUT010', 'OUT013', 'OUT027', 'OUT045',
       'OUT017', 'OUT046', 'OUT035', 'OUT019'], dtype=object)

In [59]:
d = pd.get_dummies(data['Outlet_Identifier'])
d

       OUT010  OUT013  OUT017  OUT018  ...  OUT035  OUT045  OUT046  OUT049
0           0       0       0       0  ...       0       0       0       1
1           0       0       0       1  ...       0       0       0       0
2           0       0       0       0  ...       0       0       0       1
3           1       0       0       0  ...       0       0       0       0
4           0       1       0       0  ...       0       0       0       0
...       ...     ...     ...     ...  ...     ...     ...     ...     ...
14199       0       0       0       0  ...       0       0       1       0
14200       0       0       0       1  ...       0       0       0       0
14201       0       0       0       0  ...       0       1       0       0
14202       0       0       1       0  ...       0       0       0       0
14203       0       0       0       0  ...       0       1       0       0

[14204 rows x 10 columns]

In [60]:
data = pd.concat([data, d], axis = 1)
data.drop(['Outlet_Identifier'], axis = 1, inplace = True)

In [61]:
data

       Item_Identifier  Item_Weight  Item_Fat_Content  ...  OUT045  OUT046  OUT049
0                  156         9.30                 0  ...       0       0       1
1                    8         5.92                 1  ...       0       0       0
2                  662        17.50                 0  ...       0       0       1
3                 1121        19.20                 1  ...       0       0       0
4                 1297         8.93                 0  ...       0       0       0
...                ...          ...               ...  ...     ...     ...     ...
14199              233        10.50                 1  ...       0       1       0
14200              308         7.60                 1  ...       0       0       0
14201             1426        10.00                 0  ...       1       0       0
14202              521        15.30                 1  ...       0       0       0
14203              997         9.50                 1  ...       1       0       0

[14204 rows x 36 columns]

In [62]:
data['Outlet_Location_Type'].unique()

array(['Tier 1', 'Tier 3', 'Tier 2'], dtype=object)

In [63]:
data['Outlet_Location_Type'].replace('Tier 3', 0, inplace = True)
data['Outlet_Location_Type'].replace('Tier 2', 1, inplace = True)
data['Outlet_Location_Type'].replace('Tier 1', 2, inplace = True)

In [64]:
data

       Item_Identifier  Item_Weight  Item_Fat_Content  ...  OUT045  OUT046  OUT049
0                  156         9.30                 0  ...       0       0       1
1                    8         5.92                 1  ...       0       0       0
2                  662        17.50                 0  ...       0       0       1
3                 1121        19.20                 1  ...       0       0       0
4                 1297         8.93                 0  ...       0       0       0
...                ...          ...               ...  ...     ...     ...     ...
14199              233        10.50                 1  ...       0       1       0
14200              308         7.60                 1  ...       0       0       0
14201             1426        10.00                 0  ...       1       0       0
14202              521        15.30                 1  ...       0       0       0
14203              997         9.50                 1  ...       1       0       0

[14204 rows x 36 columns]

In [65]:
data['Outlet_Type'].unique()

array(['Supermarket Type1', 'Supermarket Type2', 'Grocery Store',
       'Supermarket Type3'], dtype=object)

In [66]:
c = pd.get_dummies(data['Outlet_Type'])

In [67]:
data = pd.concat([data, c], axis = 1)
data.drop(['Outlet_Type'], axis = 1, inplace = True)

In [68]:
data['Outlet_Establishment_Year'] = data['Outlet_Establishment_Year'].astype(str)

In [69]:
data['Outlet_Establishment_Year'] = le.fit_transform(data['Outlet_Establishment_Year'])

In [70]:
data

       Item_Identifier  Item_Weight  ...  Supermarket Type2  Supermarket Type3
0                  156         9.30  ...                  0                  0
1                    8         5.92  ...                  1                  0
2                  662        17.50  ...                  0                  0
3                 1121        19.20  ...                  0                  0
4                 1297         8.93  ...                  0                  0
...                ...          ...  ...                ...                ...
14199              233        10.50  ...                  0                  0
14200              308         7.60  ...                  1                  0
14201             1426        10.00  ...                  0                  0
14202              521        15.30  ...                  0                  0
14203              997         9.50  ...                  0                  0

[14204 rows x 39 columns]

In [71]:
data['Outlet_Establishment_Year'] = data['Outlet_Establishment_Year'].astype(float)

### ***Splitting Data into Train and Test and Scaling***

In [72]:
x = data.drop(['Item_Outlet_Sales'], axis = 1)
y = data['Item_Outlet_Sales']

In [73]:
x

       Item_Identifier  Item_Weight  ...  Supermarket Type2  Supermarket Type3
0                  156         9.30  ...                  0                  0
1                    8         5.92  ...                  1                  0
2                  662        17.50  ...                  0                  0
3                 1121        19.20  ...                  0                  0
4                 1297         8.93  ...                  0                  0
...                ...          ...  ...                ...                ...
14199              233        10.50  ...                  0                  0
14200              308         7.60  ...                  1                  0
14201             1426        10.00  ...                  0                  0
14202              521        15.30  ...                  0                  0
14203              997         9.50  ...                  0                  0

[14204 rows x 38 columns]

In [74]:
x.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_MRP                     0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Baking Goods                 0
Breads                       0
Breakfast                    0
Canned                       0
Dairy                        0
Frozen Foods                 0
Fruits and Vegetables        0
Hard Drinks                  0
Health and Hygiene           0
Household                    0
Meat                         0
Others                       0
Seafood                      0
Snack Foods                  0
Soft Drinks                  0
Starchy Foods                0
OUT010                       0
OUT013                       0
OUT017                       0
OUT018                       0
OUT019                       0
OUT027                       0
OUT035                       0
OUT045                       0
OUT046                       0
OUT049                       0
Grocery Store                0
Supermarket Type1            0
Supermarket Type2            0
Supermarket Type3            0
dtype: int64

In [75]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()

In [76]:
x = ss.fit_transform(x)

In [77]:
x

array([[-1.38831978, -0.72540322, -0.73921202, ...,  0.72684099,
        -0.3494799 , -0.35112653],
       [-1.71749847, -1.45125684,  1.35279186, ..., -1.37581674,
         2.86139491, -0.35112653],
       [-0.26288452,  1.03554342, -0.73921202, ...,  0.72684099,
        -0.3494799 , -0.35112653],
       ...,
       [ 1.43638925, -0.57507851, -0.73921202, ...,  0.72684099,
        -0.3494799 , -0.35112653],
       [-0.57649395,  0.56309432,  1.35279186, ...,  0.72684099,
        -0.3494799 , -0.35112653],
       [ 0.48221589, -0.6824533 ,  1.35279186, ...,  0.72684099,
        -0.3494799 , -0.35112653]])

In [78]:
len(test)

5681

In [79]:
len(train)

8523

In [80]:
from sklearn.decomposition import PCA
pca = PCA(n_components = 30)
x = pca.fit_transform(x)

In [81]:
x

array([[-1.72572233e+00, -1.46767738e-01, -6.30273018e-01, ...,
        -8.19704187e-01, -4.40361169e-01, -1.80053149e-01],
       [ 1.99558679e+00,  3.93854738e+00,  1.48251758e+00, ...,
         2.10140609e+00,  3.37212600e-03,  3.41318521e-02],
       [-1.76820229e+00, -1.13332436e-01, -6.37737410e-01, ...,
        -1.57340868e+00, -7.47453084e-02, -1.17608306e-01],
       ...,
       [-1.30317012e+00,  1.85723453e-01, -1.62693878e-01, ...,
         3.89297324e-01, -2.12801093e-01, -9.53990020e-01],
       [-1.57653289e+00,  9.43934942e-01, -1.74508336e-01, ...,
         4.89709562e-01, -1.81349747e-01, -9.28166526e-01],
       [-9.59401332e-01,  2.90831298e-01, -4.12328162e-01, ...,
         6.48816642e-01,  4.21410099e-01,  2.11914014e-01]])

In [82]:
train1_x = x[:8523]  # Whole Train Features
test1_x = x[8523:]  # Whole Test Features
train1_y = y[:8523]  # Train Labels
test1_y = y[8523:]  # Test Labels

In [83]:
from sklearn.model_selection import train_test_split

In [84]:
train_x, test_x, train_y, test_y = train_test_split(train1_x, train1_y, test_size = 0.25, random_state = 42)

In [85]:
len(train_x)

6392

In [86]:
len(train_y)

6392

In [87]:
train_y

4776     515.3292
7510    3056.0220
5828    1577.9460
5327    1331.6000
4810    1687.1372
          ...
5734     280.9676
5191    1301.6390
5390    6145.3340
860     1649.8524
7270     965.4100
Name: Item_Outlet_Sales, Length: 6392, dtype: float64

# **Applying Machine Learning Models**

In [88]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

In [89]:
lr.fit(train_x, train_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [90]:
pred_lr = lr.predict(test_x)

In [91]:
mse_lr = mean_squared_error(test_y, pred_lr)
mse_lr

1194364.9920693259

In [92]:
import math
rmse_lr = math.sqrt(mse_lr)
rmse_lr

1092.8700709916645

In [93]:
sample_submission

     Item_Identifier Outlet_Identifier  Item_Outlet_Sales
0              FDW58            OUT049               1000
1              FDW14            OUT017               1000
2              NCN55            OUT010               1000
3              FDQ58            OUT017               1000
4              FDY38            OUT027               1000
...              ...               ...                ...
5676           FDB58            OUT046               1000
5677           FDD47            OUT018               1000
5678           NCO17            OUT045               1000
5679           FDJ26            OUT017               1000
5680           FDU37            OUT045               1000

[5681 rows x 3 columns]

In [94]:
tst1_x = pd.DataFrame(test1_x)

In [95]:
from sklearn.svm import SVR
svr = SVR()

In [96]:
svr.fit(train_x, train_y)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [97]:
pred_svr = svr.predict(test_x)

In [98]:
mse_svr = mean_squared_error(test_y, pred_svr)
rmse_svr = math.sqrt(mse_svr)
rmse_svr

1640.3646660146765

In [99]:
from sklearn.linear_model import Ridge
rdg = Ridge()

In [100]:
rdg.fit(train_x, train_y)

Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [101]:
pred_rdg = rdg.predict(test_x)

In [102]:
mse_rdg = mean_squared_error(test_y, pred_rdg)
rmse_rdg = math.sqrt(mse_rdg)
rmse_rdg

1092.8627484863878

In [103]:
from sklearn.linear_model import Lasso
ls = Lasso(tol = 0.001)

In [104]:
ls.fit(train_x, train_y)

Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.001, warm_start=False)

In [105]:
pred_ls = ls.predict(test_x)

In [106]:
mse_ls = mean_squared_error(test_y, pred_ls)
rmse_ls = math.sqrt(mse_ls)
rmse_ls

1092.718999472015

In [107]:
train_x[0].shape

(30,)

In [108]:
import tensorflow as tf
import keras
from keras.models import Sequential
from keras.layers import Dense, Dropout, BatchNormalization, SimpleRNN, LSTM

Using TensorFlow backend.

In [109]:
model = Sequential()

In [110]:
model.add(Dense(16, activation = 'relu', input_shape = train_x[0].shape))
model.add(Dense(16, activation = 'relu', kernel_initializer='he_uniform'))
model.add(Dense(32, activation = 'relu', kernel_initializer='he_uniform'))
model.add(Dropout(0.3))
model.add(BatchNormalization())
model.add(Dense(32, activation = 'relu', kernel_initializer='he_uniform'))
model.add(Dense(64, activation = 'relu', kernel_initializer='he_uniform'))
model.add(Dropout(0.3))
model.add(BatchNormalization())
model.add(Dense(32, activation = 'relu', kernel_initializer='he_uniform'))
model.add(Dense(1, activation = 'linear'))

In [111]:
'''model.add(Dense(16, activation = 'selu', input_shape = train_x[0].shape))
model.add(Dense(16, activation = 'selu', kernel_initializer='he_uniform'))
model.add(Dense(32, activation = 'selu', kernel_initializer='he_uniform'))
model.add(Dropout(0.3))
model.add(BatchNormalization())
model.add(Dense(32, activation = 'selu', kernel_initializer='he_uniform'))
model.add(Dense(64, activation = 'selu', kernel_initializer='he_uniform'))
model.add(Dropout(0.3))
model.add(BatchNormalization())
model.add(Dense(32, activation = 'selu', kernel_initializer='he_uniform'))
model.add(Dense(1, activation = 'linear'))'''

"model.add(Dense(16, activation = 'selu', input_shape = train_x[0].shape))\nmodel.add(Dense(16, activation = 'selu', kernel_initializer='he_uniform'))\nmodel.add(Dense(32, activation = 'selu', kernel_initializer='he_uniform'))\nmodel.add(Dropout(0.3))\nmodel.add(BatchNormalization())\nmodel.add(Dense(32, activation = 'selu', kernel_initializer='he_uniform'))\nmodel.add(Dense(64, activation = 'selu', kernel_initializer='he_uniform'))\nmodel.add(Dropout(0.3))\nmodel.add(BatchNormalization())\nmodel.add(Dense(32, activation = 'selu', kernel_initializer='he_uniform'))\nmodel.add(Dense(1, activation = 'linear'))"

In [112]:
model.compile(
    optimizer = tf.keras.optimizers.Adam(learning_rate=0.001),
    loss = 'mse',
    metrics = ['accuracy']
)

In [113]:
model.fit(train_x, train_y, epochs = 18, batch_size = 20, validation_data = (test_x, test_y))

Train on 6392 samples, validate on 2131 samples
Epoch 1/18
6392/6392 [==============================] - 1s 234us/step - loss: 7529514.0720 - accuracy: 0.0000e+00 - val_loss: 5650987.5101 - val_accuracy: 0.0000e+00
Epoch 2/18
6392/6392 [==============================] - 1s 145us/step - loss: 3461872.9929 - accuracy: 0.0000e+00 - val_loss: 1464915.4242 - val_accuracy: 0.0000e+00
Epoch 3/18
6392/6392 [==============================] - 1s 157us/step - loss: 1607115.2482 - accuracy: 0.0000e+00 - val_loss: 1204590.3692 - val_accuracy: 0.0000e+00
Epoch 4/18
6392/6392 [==============================] - 1s 153us/step - loss: 1505935.5446 - accuracy: 0.0000e+00 - val_loss: 1163609.8065 - val_accuracy: 0.0000e+00
Epoch 5/18
6392/6392 [==============================] - 1s 156us/step - loss: 1480451.1126 - accuracy: 0.0000e+00 - val_loss: 1192801.5184 - val_accuracy: 0.0000e+00
Epoch 6/18
6392/6392 [==============================] - 1s 158us/step - loss: 1402349.2742 - accuracy: 0.0000e+00 - val_loss: 1176265.8789 - val_accuracy: 0.0000e+00
Epoch 7/18
6392/6392 [==============================] - 1s 154us/step - loss: 1387575.4018 - accuracy: 0.0000e+00 - val_loss: 1175463.3510 - val_accuracy: 0.0000e+00
Epoch 8/18
6392/6392 [==============================] - 1s 157us/step - loss: 1405768.5470 - accuracy: 0.0000e+00 - val_loss: 1169802.3989 - val_accuracy: 0.0000e+00
Epoch 9/18
6392/6392 [==============================] - 1s 141us/step - loss: 1382539.5343 - accuracy: 0.0000e+00 - val_loss: 1161430.7305 - val_accuracy: 0.0000e+00
Epoch 10/18
6392/6392 [==============================] - 1s 131us/step - loss: 1348376.2497 - accuracy: 0.0000e+00 - val_loss: 1163328.4184 - val_accuracy: 0.0000e+00
Epoch 11/18
6392/6392 [==============================] - 1s 132us/step - loss: 1343012.0008 - accuracy: 0.0000e+00 - val_loss: 1168055.2826 - val_accuracy: 0.0000e+00
Epoch 12/18
6392/6392 [==============================] - 1s 132us/step - loss: 1350985.9950 - accuracy: 0.0000e+00 - val_loss: 1169127.3728 - val_accuracy: 0.0000e+00
Epoch 13/18
6392/6392 [==============================] - 1s 134us/step - loss: 1339533.0262 - accuracy: 0.0000e+00 - val_loss: 1173697.8287 - val_accuracy: 0.0000e+00
Epoch 14/18
6392/6392 [==============================] - 1s 136us/step - loss: 1326133.4537 - accuracy: 0.0000e+00 - val_loss: 1192879.6219 - val_accuracy: 0.0000e+00
Epoch 15/18
6392/6392 [==============================] - 1s 132us/step - loss: 1320201.3447 - accuracy: 0.0000e+00 - val_loss: 1189606.8989 - val_accuracy: 0.0000e+00
Epoch 16/18
6392/6392 [==============================] - 1s 140us/step - loss: 1292674.0834 - accuracy: 0.0000e+00 - val_loss: 1200315.0073 - val_accuracy: 0.0000e+00
Epoch 17/18
6392/6392 [==============================] - 1s 132us/step - loss: 1312341.8240 - accuracy: 0.0000e+00 - val_loss: 1208664.0297 - val_accuracy: 0.0000e+00
Epoch 18/18
6392/6392 [==============================] - 1s 136us/step - loss: 1314169.2479 - accuracy: 0.0000e+00 - val_loss: 1190897.3816 - val_accuracy: 0.0000e+00

In [114]:
#Adam
print(math.sqrt(1146563.0896))
print(math.sqrt(1132373.0233))
print(math.sqrt(1135565.5787))
#-----------------------------
#RMSprop
print(math.sqrt(1109262.8099))
print(math.sqrt(1340976.8122))

1070.776862656268
1064.1301721594027
1065.6291938099293
1053.2154622393273
1158.0055320247827

In [115]:
#model.save('ANN_Adam.h5')
#model.save('ANN_RMSprop.h5')
#model.save('ANN_Adadelta.h5')
#model.save('ANN_Adagrad.h5')

In [116]:
from sklearn.linear_model import ElasticNet
en = ElasticNet()

In [117]:
en.fit(train_x, train_y)

ElasticNet(alpha=1.0, copy_X=True, fit_intercept=True, l1_ratio=0.5,
           max_iter=1000, normalize=False, positive=False, precompute=False,
           random_state=None, selection='cyclic', tol=0.0001, warm_start=False)

In [118]:
pred_en = en.predict(test_x)

In [119]:
mse_en = mean_squared_error(test_y, pred_en)
rmse_en = math.sqrt(mse_en)
rmse_en

1136.530584926004

In [120]:
from sklearn.linear_model import BayesianRidge
br = BayesianRidge()

In [121]:
br.fit(train_x, train_y)

BayesianRidge(alpha_1=1e-06, alpha_2=1e-06, alpha_init=None,
              compute_score=False, copy_X=True, fit_intercept=True,
              lambda_1=1e-06, lambda_2=1e-06, lambda_init=None, n_iter=300,
              normalize=False, tol=0.001, verbose=False)

In [122]:
pred_br = br.predict(test_x)

In [123]:
mse_br = mean_squared_error(test_y, pred_br)
rmse_br = math.sqrt(mse_br)
rmse_br

1092.65557895281

In [124]:
from sklearn.linear_model import SGDRegressor
sgdr = SGDRegressor()

In [125]:
sgdr.fit(train_x, train_y)

SGDRegressor(alpha=0.0001, average=False, early_stopping=False, epsilon=0.1,
             eta0=0.01, fit_intercept=True, l1_ratio=0.15,
             learning_rate='invscaling', loss='squared_loss', max_iter=1000,
             n_iter_no_change=5, penalty='l2', power_t=0.25, random_state=None,
             shuffle=True, tol=0.001, validation_fraction=0.1, verbose=0,
             warm_start=False)

In [126]:
pred_sgdr = sgdr.predict(test_x)

In [127]:
mse_sgdr = mean_squared_error(test_y, pred_sgdr)
rmse_sgdr = math.sqrt(mse_sgdr)
rmse_sgdr

1096.1115958807504

In [128]:
from sklearn.ensemble import RandomForestRegressor
rfr = RandomForestRegressor(max_depth=10, n_estimators=200, ccp_alpha = 0.5, random_state = 1)

In [129]:
rfr.fit(train_x, train_y)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.5, criterion='mse',
                      max_depth=10, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=200, n_jobs=None, oob_score=False,
                      random_state=1, verbose=0, warm_start=False)

In [130]:
pred_rfr = rfr.predict(test_x)

In [131]:
mse_rfr = mean_squared_error(test_y, pred_rfr)
rmse_rfr = math.sqrt(mse_rfr)
rmse_rfr

1089.61974623727

In [132]:
#1104.88478848654
#1092.3295155942697
#1088.2322763658483

In [133]:
from sklearn.ensemble import AdaBoostRegressor
abr = AdaBoostRegressor(loss = 'linear', n_estimators=200)

In [134]:
abr.fit(train_x, train_y)

AdaBoostRegressor(base_estimator=None, learning_rate=1.0, loss='linear',
                  n_estimators=200, random_state=None)

In [135]:
pred_abr = abr.predict(test_x)

In [136]:
mse_abr = mean_squared_error(test_y, pred_abr)
rmse_abr = math.sqrt(mse_abr)
rmse_abr

1686.2917879266222

# ***Model Prediction And Submission***

In [137]:
sample_submission['Item_Outlet_Sales'] = model.predict(tst1_x)

In [138]:
sample_submission

     Item_Identifier Outlet_Identifier  Item_Outlet_Sales
0              FDW58            OUT049        1944.808716
1              FDW14            OUT017        1726.343140
2              NCN55            OUT010         645.118530
3              FDQ58            OUT017        2563.440430
4              FDY38            OUT027        6211.763672
...              ...               ...                ...
5676           FDB58            OUT046        2296.359131
5677           FDD47            OUT018        2400.118652
5678           NCO17            OUT045        2103.614014
5679           FDJ26            OUT017        3743.920166
5680           FDU37            OUT045        1767.442505

[5681 rows x 3 columns]

In [139]:
sample_submission.reset_index(inplace = True)
sample_submission.drop(['index'], axis = 1, inplace = True)

In [140]:
sample_submission

     Item_Identifier Outlet_Identifier  Item_Outlet_Sales
0              FDW58            OUT049        1944.808716
1              FDW14            OUT017        1726.343140
2              NCN55            OUT010         645.118530
3              FDQ58            OUT017        2563.440430
4              FDY38            OUT027        6211.763672
...              ...               ...                ...
5676           FDB58            OUT046        2296.359131
5677           FDD47            OUT018        2400.118652
5678           NCO17            OUT045        2103.614014
5679           FDJ26            OUT017        3743.920166
5680           FDU37            OUT045        1767.442505

[5681 rows x 3 columns]

In [141]:
#sample_submission.drop(['index'], axis = 1, inplace = True)

In [142]:
sample_submission.to_csv('Sample_Submission1.csv', index = False)

In [143]:
sample_submission

     Item_Identifier Outlet_Identifier  Item_Outlet_Sales
0              FDW58            OUT049        1944.808716
1              FDW14            OUT017        1726.343140
2              NCN55            OUT010         645.118530
3              FDQ58            OUT017        2563.440430
4              FDY38            OUT027        6211.763672
...              ...               ...                ...
5676           FDB58            OUT046        2296.359131
5677           FDD47            OUT018        2400.118652
5678           NCO17            OUT045        2103.614014
5679           FDJ26            OUT017        3743.920166
5680           FDU37            OUT045        1767.442505

[5681 rows x 3 columns]

In [144]:
#Just to make sure that our model sales predictions are not Negetive
sample_submission.describe()

       Item_Outlet_Sales
count        5681.000000
mean         2218.380127
std          1229.449585
min           227.189682
25%          1397.142944
50%          2143.832275
75%          2916.974854
max          8157.635254